
//Form styling

label{
  font-size: 12px;
}

input{
  padding-left: 2%;
  width: 100%;
  height: 40px;
  border: 1px solid;
  margin-bottom: 5%;
}

.message{
  height: 120px;
}

.contact-me {
  @include outer-container; 
  $tablet: new-breakpoint(max-width 740px 1);
  $mobile: new-breakpoint(max-width 600px 1);
   
  .twitter  { @include span-columns(4); 
    @include media($tablet) {
      margin-top: 2%;
    @include span-columns(1);
    }
  }

  .contact-details{ @include span-columns(8);
    @include media($tablet) {
    @include span-columns(1);
      .about-me .my-details {
          float: none;
          width: 80%;
          margin: auto;
        }
    }
    @include media($mobile) {
    @include span-columns(1);
     .first-half, .second-half{
         width: 100%;
      }   
    }
  }
}
