
//Form styling

label{
  font-size: 12px;
}

.icons img{
  max-width: 100%;
  width: 10%;
  margin: 2% 0% 0% 5%;
}

.icons p {
  display: inline-block;
  vertical-align: bottom;
}

input{
  padding-left: 2%;
  width: 100%;
  height: 40px;
  border: 1px solid;
  margin-bottom: 5%;
}

.message{
  height: 120px;
}

.contact-me {
  @include outer-container; 
  $phablet: new-breakpoint(max-width 740px 1);
  $mobile: new-breakpoint(max-width 600px 1);
   
  .about-me  { @include span-columns(4); 
    background-color: $white;
    @include media($phablet) {
      margin-top: 2%;
    @include span-columns(1);
    }
  }

  .contact-details{ @include span-columns(8);
    @include media($phablet) {
    @include span-columns(1);
      .about-me .my-details {
          float: none;
          width: 80%;
          margin: auto;
        }
    }
    @include media($mobile) {
    @include span-columns(1);
     .first-half, .second-half{
         width: 100%;
      }   
    }
  }
}
