.social-icons {
  margin-top: -2%;
  text-align: center;
}

.social-icons li{
  display: inline-block;
  width: 64px;
  height: 64px;
}



footer {
  @include outer-container;
  background-color: $white;
  margin-top: 3%;
  $tablet: new-breakpoint(max-width 760px  4);
  $mobile: new-breakpoint(max-width 500px 1);

  .social-links { 
    @include span-columns(12); 

  }
  .footer-info{
    text-align: center;
    margin-top: 2%;
    font-size: 12px;
    @include span-columns(4);
  }

}

.footer-info a {
  color: $font-color;
  text-decoration: none;
}

.footer-info a:hover{
  text-decoration: underline;
  color: $pastel-pink;
}

.social-icons img
{
  max-width: 100%;
  -webkit-transition: 0.30s;
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
  filter: grayscale(1);
}

.social-icons img:hover
{
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
  -ms-filter: grayscale(0);
  filter: grayscale(0);
}