.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;


.contact {
  float: left;
  margin-right: 3em;
 a {
  color: #8085C1;
  }
}

.rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
 
 img {
  border: 0;
    }
  }
}