/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
@import "bourbon/bourbon";
@import "neat/neat";


$black: #000000;
$white: #FFF;
$pastel-pink: #F76AB6;
$silver-grey: #f5f5f5;
$pea-green: #76BF41;
$font-color: #2e3133;
$code-grey: #E0E0E0;

@import "header";
@import "portfolio";
@import "contact";
@import "posts";
@import "footer";

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}

html, body { 
  height: 100%; 
}

body {
  background-color: $silver-grey;
}

/*accordian*/

 .plus, .minus {
  float: right;
}

h3, .plus, .minus {
  display: inline-block;
  vertical-align: middle;
}

.skills-accordian {
    clear: both;
    background: $white;
    border: 1px solid #efefef;
    width: 80%;
    font-family: "jaf-facitweb", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin: 3%;
    color: $font-color;
    margin: 2%;
    width: 95%;

  .acord-header {
    font-size: 12px;
    line-height: 34px;
    padding: 0 10px;
    text-transform: uppercase;
    /*fallback for browsers not supporting gradients*/
    background-color: $white;
    border: 1px solid #efefef;
  }
/*list items*/
 li {
    list-style-type: none;
  }
}

.skills-accordian ul p {
    color: $font-color;
    text-decoration: none;
    padding-top: 2%;
    font-size: 12px; 
    transition: all 0.15s;
}


.skills-accordian ul .skills-inner {
    display: none;
}

.skills-accordian li.active ul {
    display: block;
}

.skills-inner a {
  font-weight: bold;
  text-decoration: none;
}

.ratings{
  font-size: 13px;   
  margin-left: 85%;
}

p .fa-border{
  border-style: none;
}

.about-me img{
  max-width: 100%;
  padding: 5%;
}

/*****************************************************************************/
/*
/* Bourbon
/*
/*****************************************************************************/
.site {
  @include outer-container;
  $tablet: new-breakpoint(max-width 660px  4);
  $mobile: new-breakpoint(max-width 500px 1);

  .header { @include span-columns(12); 
    text-align: center;
    @include media($tablet) {
    @include span-columns(4);
     .welcome-message, .border-line{
        display: none;
      }
        .title{
        font-size: 60px;
      }
       .job-title {
        font-size: 30px;
      }
    }

    @include media($mobile) {
      @include span-columns(1);
      .page-title{
        font-size: 35px;
      }

    }
  }
  .content { @include span-columns(12); 
    @include media($mobile) {
    @include span-columns(1);
    }
  }
}

/*****************************************************************************/
/*
/* Home Page
/*
/*****************************************************************************/

 .my-details, .about-details{
  padding: 2%;
  height: auto;
  background-color: $white;
  border: 1px solid #efefef;
}

.welcome-text {
  @include outer-container; 
  $tablet: new-breakpoint(max-width 660px 1);
  $mobile: new-breakpoint(max-width 600px 1);
   
  .about-me  { @include span-columns(4); 
    background-color: $white;
    @include media($tablet) {
      margin-top: 2%;
    @include span-columns(1);
    }
  }

  .about-details{ @include span-columns(8);
    background-color: $white;
    @include media($tablet) {
    @include span-columns(1);
      .about-me .my-details {
          float: none;
          width: 80%;
          margin: auto;
        }
    }
    @include media($mobile) {
    @include span-columns(1);
     .first-half, .second-half{
         width: 100%;
      }   
    }
  }
}

.first-half {
  width: 49%;
  float: left;
  margin-bottom: 5%;
}

.second-half{
  width: 49%;
  float: right;
  margin-bottom: 5%;
}


//CONTACT PAGE

.contact-details, .twitter{
    padding: 2%;
    height: auto;
    background-color: $white;
    border: 1px solid #efefef;
}



//Font and Sizes

.about-details p, .icons p, .footer-info, .about-me ul, .image-overlay p, .posts span, .post ul li, .work p, .my-details p, .posts p, .post p {
    font-family: "jaf-facitweb", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    line-height: 1.6;
    color: $font-color;
    margin: 0% 5% 3% 5%;
}

.my-details p{
  margin: 0% 5%;
}

.footer-info{
  margin:0%;  
}

.contact-details h1, .about-details h1, .posts a, .content h2 {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    text-align: start;
    font-size: 30px;
    line-height: 50px;
    color: $font-color;
    height: auto;
    text-transform: uppercase;
    font-weight: 600;
    margin: 2% 0% 0% 5%;
}

.my-details h1{
  margin: 4%;
}

.content h2{
  text-align: center;
}

i.fa-2x{
  font-size: 1.4em ;
}
