/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  background-color: whitesmoke; }

.site {
  text-align: justify;
  margin: 0 auto;
  line-height: 1.5; }

.header a {
  font-weight: bold;
  text-decoration: none; }

.title {
  display: inline-block;
  font-size: 90px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif; }
  .title a {
    color: inherit; }

.page-title {
  font-size: 40px;
  padding: 0% 2%;
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif; }

ul li {
  list-style-type: none; }

.menu-link {
  display: none;
  font-family: Myriad Pro; }

nav {
  text-align: center; }
  nav li {
    display: inline-block;
    margin: 1em 0.5em; }
    nav li a {
      padding: 1em 2em;
      text-transform: uppercase;
      border-sizing: border-box;
      color: #2e3133;
      font-family: 'Oswald', sans-serif;
      text-decoration: none; }

@media screen and (max-width: 600px) {
  a.menu-link {
    float: right;
    display: block;
    margin: 1% 5%;
    background: #2e3133;
    padding: 20px 32px;
    position: relative;
    padding-left: 1.25em; }

  .menu-link:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.45em;
    width: 2.3em;
    margin: 0 12%;
    height: 0.35em;
    background: whitesmoke;
    box-shadow: 0 0.65em 0 0 whitesmoke, 0 1.3em 0 0 whitesmoke; }

  nav li:hover {
    background: rgba(255, 255, 255, 0.6); }

  nav.active {
    max-height: 15em;
    transition: 1s; }

  nav {
    transition: 1.5s;
    overflow: hidden;
    max-height: 0;
    clear: both;
    position: relative;
    width: 100%;
    background-color: whitesmoke; }
    nav li {
      display: block;
      padding: 1em;
      margin: 0 0; } }
.portfolio-work {
  position: relative; }

.image-overlay {
  position: absolute;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #efefef;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  opacity: 1;
  transition: all 0.7s ease; }

.portfolio-work:hover .image-overlay {
  opacity: 0; }

.portfolio-work img {
  width: 100%; }

.portfolio-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .portfolio-content .portfolio-work {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-bottom: 2%;
    background-color: white; }
    .portfolio-content .portfolio-work:last-child {
      margin-right: 0; }
    .portfolio-content .portfolio-work:nth-child(2n) {
      margin-right: 0; }
    .portfolio-content .portfolio-work:nth-child(2n+1) {
      clear: left; }
    @media screen and (max-width: 735px) {
      .portfolio-content .portfolio-work .image-overlay h2 {
        font-size: 25px;
        line-height: 30px; }
      .portfolio-content .portfolio-work .image-overlay p {
        font-size: 14px; } }
    @media screen and (max-width: 615px) {
      .portfolio-content .portfolio-work {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 100%; }
        .portfolio-content .portfolio-work:last-child {
          margin-right: 0; }
        .portfolio-content .portfolio-work .image-overlay h2 {
          font-size: 30px;
          line-height: 50px; }
        .portfolio-content .portfolio-work .image-overlay p {
          font-size: 18px; } }
    @media screen and (max-width: 400px) {
      .portfolio-content .portfolio-work {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 100%; }
        .portfolio-content .portfolio-work:last-child {
          margin-right: 0; }
        .portfolio-content .portfolio-work .image-overlay p {
          font-size: 14px; }
        .portfolio-content .portfolio-work .image-overlay h2 {
          font-size: 25px;
          line-height: 30px; } }

/*accordian*/
.plus, .minus {
  float: right; }

h3, .plus, .minus {
  display: inline-block;
  vertical-align: middle; }

.skills-accordian {
  clear: both;
  background: white;
  border: 1px solid #efefef;
  width: 80%;
  font-family: "jaf-facitweb", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 3%;
  color: #2e3133;
  margin: 2%;
  width: 95%;
  /*list items*/ }
  .skills-accordian .acord-header {
    font-size: 12px;
    line-height: 34px;
    padding: 0 10px;
    text-transform: uppercase;
    /*fallback for browsers not supporting gradients*/
    background-color: white;
    border: 1px solid #efefef; }
  .skills-accordian li {
    list-style-type: none; }

.skills-accordian ul p {
  color: #2e3133;
  text-decoration: none;
  font-size: 12px;
  transition: all 0.15s; }

.skills-accordian ul .skills-inner {
  display: none; }

.skills-accordian li.active ul {
  display: block; }

.ratings {
  font-size: 13px;
  margin-left: 85%; }

p .fa-border {
  border-style: none; }

/*****************************************************************************/
/*
/* Bourbon
/*
/*****************************************************************************/
.site {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .site:before, .site:after {
    content: " ";
    display: table; }
  .site:after {
    clear: both; }
  .site .header {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%;
    text-align: center; }
    .site .header:last-child {
      margin-right: 0; }
    @media screen and (max-width: 760px) {
      .site .header {
        display: block;
        float: left;
        margin-right: 7.42297%;
        width: 100%; }
        .site .header:last-child {
          margin-right: 0; }
        .site .header .welcome-message, .site .header .border-line {
          display: none; }
        .site .header .title {
          font-size: 60px; }
        .site .header .job-title {
          font-size: 30px; } }
    @media screen and (max-width: 500px) {
      .site .header {
        display: block;
        float: left;
        margin-right: 38.19821%;
        width: 100%; }
        .site .header:last-child {
          margin-right: 0; } }
  .site .content {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%; }
    .site .content:last-child {
      margin-right: 0; }
    @media screen and (max-width: 500px) {
      .site .content {
        display: block;
        float: left;
        margin-right: 38.19821%;
        width: 100%; }
        .site .content:last-child {
          margin-right: 0; } }

/*****************************************************************************/
/*
/* Home Page
/*
/*****************************************************************************/
.my-details, .my-skills {
  padding: 2%;
  height: auto;
  background-color: white;
  border: 1px solid #efefef; }

.about-me {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .about-me:before, .about-me:after {
    content: " ";
    display: table; }
  .about-me:after {
    clear: both; }
  .about-me .my-skills {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .about-me .my-skills:last-child {
      margin-right: 0; }
    @media screen and (max-width: 980px) {
      .about-me .my-skills {
        margin-top: 2%;
        display: block;
        float: left;
        margin-right: 38.19821%;
        width: 100%; }
        .about-me .my-skills:last-child {
          margin-right: 0; } }
  .about-me .my-details {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .about-me .my-details:last-child {
      margin-right: 0; }
    @media screen and (max-width: 980px) {
      .about-me .my-details {
        display: block;
        float: left;
        margin-right: 38.19821%;
        width: 100%; }
        .about-me .my-details:last-child {
          margin-right: 0; }
        .about-me .my-details .about-me .my-details {
          float: none;
          width: 80%;
          margin: auto; } }
    @media screen and (max-width: 600px) {
      .about-me .my-details {
        display: block;
        float: left;
        margin-right: 38.19821%;
        width: 100%; }
        .about-me .my-details:last-child {
          margin-right: 0; }
        .about-me .my-details .first-half, .about-me .my-details .second-half {
          width: 100%; } }

.first-half {
  width: 49%;
  float: left;
  margin-bottom: 5%; }

.second-half {
  width: 49%;
  float: right;
  margin-bottom: 5%; }

/*****************************************************************************/
/*
/* Post
/*
/*****************************************************************************/
.posts {
  margin-top: 5%; }
  .posts a {
    display: inline-block; }
  .posts span {
    display: block; }

.post {
  padding: 0.5%; }
  .post ul {
    padding-left: 1.5em; }
  .post li {
    list-style: disc; }
  .post a {
    color: #76bf41; }

.meta {
  background: #76bf41;
  color: white;
  font-family: 'Oswald', sans-serif;
  margin: 2% 5%;
  padding: 1%; }

.youtube-vid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

footer {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-top: 3%; }
  footer:before, footer:after {
    content: " ";
    display: table; }
  footer:after {
    clear: both; }
  footer .footer-info {
    text-align: center;
    margin-top: 2%;
    font-size: 12px;
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%; }
    footer .footer-info:last-child {
      margin-right: 0; }
    @media screen and (max-width: 300px) {
      footer .footer-info {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 100%; }
        footer .footer-info:last-child {
          margin-right: 0; } }

.footer-info a {
  color: #2e3133;
  text-decoration: none; }

.footer-info a:hover {
  text-decoration: underline;
  color: #f76ab6; }

.social-icons img {
  max-width: 100%;
  display: block;
  -webkit-transition: 0.30s;
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
  filter: grayscale(1); }

.social-icons img:hover {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
  -ms-filter: grayscale(0);
  filter: grayscale(0); }

.social-icons {
  margin-top: -2%;
  text-align: center; }
  .social-icons a {
    display: block; }

.social-icons li {
  display: inline-block;
  width: 64px;
  height: 64px; }

.touch .social-icons img {
  -webkit-filter: grayscale(0); }

.contact-details, .twitter {
  padding: 2%;
  height: auto;
  background-color: white;
  border: 1px solid #efefef; }

.contact-me {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .contact-me:before, .contact-me:after {
    content: " ";
    display: table; }
  .contact-me:after {
    clear: both; }
  .contact-me .twitter {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .contact-me .twitter:last-child {
      margin-right: 0; }
    @media screen and (max-width: 980px) {
      .contact-me .twitter {
        margin-top: 2%;
        display: block;
        float: left;
        margin-right: 38.19821%;
        width: 100%; }
        .contact-me .twitter:last-child {
          margin-right: 0; } }
  .contact-me .contact-details {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .contact-me .contact-details:last-child {
      margin-right: 0; }
    @media screen and (max-width: 980px) {
      .contact-me .contact-details {
        display: block;
        float: left;
        margin-right: 38.19821%;
        width: 100%; }
        .contact-me .contact-details:last-child {
          margin-right: 0; }
        .contact-me .contact-details .about-me .my-details {
          float: none;
          width: 80%;
          margin: auto; } }
    @media screen and (max-width: 600px) {
      .contact-me .contact-details {
        display: block;
        float: left;
        margin-right: 38.19821%;
        width: 100%; }
        .contact-me .contact-details:last-child {
          margin-right: 0; }
        .contact-me .contact-details .first-half, .contact-me .contact-details .second-half {
          width: 100%; } }

.footer-info, .image-overlay p, .posts span, .post ul li, .work p, .my-details p, .posts p, .post p {
  font-family: "jaf-facitweb", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  color: #2e3133;
  margin: 0% 5% 3% 5%; }

.my-details p {
  margin: 0% 5%; }

.footer-info {
  margin: 0%; }

.my-details h1, .posts a, .content h2 {
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  text-align: start;
  font-size: 30px;
  line-height: 50px;
  color: #2e3133;
  height: auto;
  text-transform: uppercase;
  font-weight: 600;
  margin: 2% 0% 0% 5%; }

.my-details h1 {
  margin: 3%; }

.content h2 {
  text-align: center; }
