.portfolio-work{
  position: relative;
}

.image-overlay{
  position: absolute;
  background: rgba(255,255,255, 0.85);
  border: 1px solid #efefef;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  opacity: 1;
  transition: all 0.7s ease;
}


.portfolio-work:hover{
  .image-overlay{
    opacity: 0;
  }
}

img {
  width: 100%;
}

.portfolio-content {
  
  @include box-sizing(border-box);
    $desktop: new-breakpoint(max-width 735px 12);
    $tablet: new-breakpoint(max-width 615px 12);
    $moible: new-breakpoint(max-width 400px 12);

  .portfolio-work { @include span-columns(6); 
      margin-bottom: 2%;
      background-color: $white;
      @include omega(2n);

    @include media($desktop) {
      .image-overlay h2 {
        font-size: 25px;
        line-height: 30px;
      }
       .image-overlay p{
        font-size: 14px;
       }
    }  

    @include media($tablet) {
       @include span-columns(12);
        .image-overlay h2 {
          font-size: 30px;
          line-height: 50px;
          }
        .image-overlay p{
          font-size: 18px;
       }
    }
  
  @include media($moible) {
       @include span-columns(12);
        .image-overlay p{
          font-size: 14px;
       }
         .image-overlay h2 {
            font-size: 25px;
            line-height: 30px;
      }
  }
}
}