.portfolio-work{
  position: relative;
}




.portfolio-work:hover{
    opacity: 1;
    background-image:url('../images/work1.jpg');
    transition: all 0.3s ease;

  .portfolio-work p {
    display: none;
    }
  }



img {
  width: 100%;
}

.portfolio-content {
  
  @include box-sizing(border-box);
  $tablet: new-breakpoint(max-width 890px 12);
  $mobile: new-breakpoint(max-width 710px 12);

  .portfolio-work { @include span-columns(6); 
      margin-bottom: 2%;
      background-color: $white;
      @include omega(2n);

    @include media($tablet) {
    @include span-columns(6);
      font-size: 12px;
 
    }  

    @include media($mobile) {
       @include span-columns(12);
       font-size: 16px;
    }
  }
}


  
.portfolio-work{
  height: 240px;

  p {
  width: 90%;
  margin: auto;
  font-family: "jaf-facitweb", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  color: #2E3133;
  margin: 0% 5% 3% 5%;
  }
}

.work-skills{
  text-align: center;

li {
  font-family: "jaf-facitweb", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0 3px 3px 0;
  padding: 5px 7px;
  display: inline-block;
  background: #F4F4EB;
  color: $black;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
  }
}