/*****************************************************************************/
/*
/* Post
/*
/*****************************************************************************/

$phablet: new-breakpoint(max-width 660px 1);

#blog{
  background-color: $white;
}

.posts{
  margin-top: 5%;

a{
  display: inline-block;
}

span{
  display: block;
  }
}

.post{
  padding: 0.5%;
    ul{
      padding-left: 1.5em;
    } 
    li{
      list-style: disc;
    }
    a{
      color: $pea-green;
    }
}

.meta {
  background: $pea-green;
  color: $white;
  font-family: 'Oswald', sans-serif;
  margin: 2% 5%;
  padding: 1%;
}


//YOUTUBE VIDEO

.youtube-vid {
   display: block;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}

//Images

img {
    width: 49%;

    @include media($phablet) {
      width: 100%;
    }
}

.post h3, .post h4 {
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  line-height: 50px;
  color: $font-color;
  height: auto;
  text-transform: uppercase;
  font-weight: 600;
  margin: 2% 0% 0% 5%;
  font-size: 20px;
}

 .post h4 {
  font-size: 15px;
}


pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  background-color: $code-grey;
  margin: 0% 4% 3% 5%;  
}



